<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <import resource="classpath*:applicationKilkariCommonContext.xml"/>
    <import resource="classpath*:applicationPlatformServerAPI.xml"/>
    <import resource="classpath:applicationKilkariServiceContext.xml"/>
    <import resource="classpath:applicationContext-Diagnostics.xml"/>

    <bean id="handlerMapping"
          class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>

    <bean id="configurationDiagnostic" class="org.motechproject.diagnostics.diagnostics.ConfigurationDiagnostic">
        <constructor-arg>
            <map>
                <entry key="activemqProperties"><util:properties location="classpath:activemq.properties"/></entry>
                <entry key="couchProperties"><util:properties location="classpath:couchdb.properties"/></entry>
                <entry key="httpClient"><util:properties location="classpath:httpclient.properties"/></entry>
                <entry key="kilkariProperties"><util:properties location="classpath:kilkari.properties"/></entry>
                <entry key="log4jProperties"><util:properties location="classpath:log4j.properties"/></entry>
                <entry key="messageCampaignProperties"><util:properties location="classpath:messageCampaign.properties"/></entry>
                <entry key="obdProperties"><util:properties location="classpath:obd.properties"/></entry>
                <entry key="quartzProperties"><util:properties location="classpath:quartz.properties"/></entry>
            </map>
        </constructor-arg>
    </bean>

    <bean id="couchDBDiagnostic" class="org.motechproject.diagnostics.diagnostics.CouchDBDiagnostic">
        <constructor-arg>
            <map>
                <entry key="kilkari" value="http://%s:%s/_utils/database.html?kilkari"/>
                <entry key="motech-subscription" value="http://%s:%s/_utils/database.html?motech-subscription"/>
                <entry key="motech-message" value="http://localhost:5984/_utils/database.html?motech-message"/>
                <entry key="motech-message" value="http://localhost:5984/_utils/database.html?motech-message"/>
                <entry key="motech-message-campaign" value="http://localhost:5984/_utils/database.html?motech-message-campaign"/>
                <entry key="motech-obd" value="http://localhost:5984/_utils/database.html?motech-obd"/>
                <entry key="motech-retries" value="http://localhost:5984/_utils/database.html?motech-retries"/>
            </map>
        </constructor-arg>
    </bean>

</beans>

